@{
    Layout = "~/Views/Shared/_LayoutSystemRequisitionForm.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6" style="padding-left:unset;padding-right:unset;">
            <div class="card m-2 p-1" style="background-color:#ff674d;">
                <h3 class="card-header font-weight-bold" style="background-color:#ff5233;"><i class="fas fa-cogs fa-lg"></i>&nbsp;Setting</h3>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 p-1">
                            <div id="divPermission" style="text-align:center;background-color:#ffffff;" class="rounded p-3 font-weight-bold">
                                <center>
                                    <a id="btnPermission" href="#">
                                        <i class="fas fa-sitemap fa-4x"></i><br />
                                    </a>
                                    Permission
                                </center>
                            </div>
                        </div>
                        <div class="col-sm-3 p-1">
                            <div id="divSOP" style="text-align:center;background-color:#ffffff;" class="rounded p-3 font-weight-bold">
                                <center>
                                    <a id="btnSOP" href="#">
                                        <i class="fab fa-stack-overflow fa-4x"></i><br />
                                    </a>
                                    Standard Operation Procedures
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding-left:unset;padding-right:unset;">
            <div class="PartialSetting"></div>
        </div>
    </div>

    <div class="PartialSubSetting"></div>
</div>

@section Scripts {
    <script>
        $('#btnPermission').on('click', (e) => {
            e.stopImmediatePropagation();
            $('#divSOP').css('background-color', '#ffffff');
            $('#divPermission').css('background-color', '#ffd4cc');
            $('.PartialSetting').empty().load('./PermissionMng');
            $('.PartialSubSetting').empty();
        });

        $('#btnSOP').on('click', (e) => {
            e.stopImmediatePropagation();
            $('#divPermission').css('background-color', '#ffffff');
            $('#divSOP').css('background-color', '#ffd4cc');
            $('.PartialSetting').empty().load('./SOPMng');
            $('.PartialSubSetting').empty();
        });
    </script>
}