﻿<link href="~/Scripts/bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css" rel="stylesheet" />

<style>


    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: .25rem;
    }

    .label {
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        text-align: left;
        background-color: #0094ff;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        width: 170px;
        font-weight: bold;
    }

    #more {
        display: none;
    }

    :not(.input-group) > .bootstrap-select.form-control:not([class*=col-]) {
        width: 50%;
    }

    .btn-light {
        color: #000000;
        background-color: #ffffff;
        border-color: #ffffff;
    }

    .filter-option-inner {
        font-weight: bold;
    }

    .font {
        font-weight: bold;
        color: black;
    }

    .font-bold {
        font-weight: bold;
    }

    #datepicker {
        width: 180px;
        margin: 0 20px 20px 20px;
    }

        #datepicker > span:hover {
            cursor: pointer;
        }

    #datepicker1 {
        width: 180px;
        margin: 0 20px 20px 20px;
    }

        #datepicker1 > span:hover {
            cursor: pointer;
        }

    #dtEquipmentType_filter > label {
        font-weight: bold;
    }

    #dtEquipmentType_info {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-sm-6" style="padding-left:unset;padding-right:unset;">
        <div class="card m-2 p-1">
            <h3 class="card-header font-weight-bold"><i class="far fa-hdd fa-lg"></i>&nbsp;&nbsp;Create Equipment Type</h3>
            <div class="card-body">
                <div class="col-sm-12" style="padding:5%; padding-bottom:20%">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="label" for="inputGroupSelect01">Equipment Type</label>
                        </div>
                        <input type="text" class="form-control font" id="txtEquipmentType" placeholder="">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="label" for="inputGroupSelect01">Status</label>
                        </div>
                        <select id="txtStatus" class="form-control font">
                            <option class="font-bold">Select</option>
                            <option class="font-bold" value="1">Service</option>
                            <option class="font-bold" value="2">Inservice</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="label" for="inputGroupSelect01">Descricption</label>
                        </div>
                        <textarea class="form-control font" id="txtDesEquipmentType" rows="5"></textarea>
                    </div>
                    <center>
                        <button id="btnSubmit" type="button" class="btn btn-info font-bold" onclick="InsertEquipmentType()">Submit</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>
    var dataTable;

    $(document).ready(() => {
        loadDataTable();
    });

    function loadDataTable() {
        dataTable = $('#dtEquipmentType').DataTable({
            destroy: true,
            responsive: true,
            bInfo: true,
            ordering: false,
            bLengthChange: false,
            paging: false,
            scrollY: 500,
            ajax: {
                url: "./GetEquipmentType",
                type: "GET",
                datatype: "json",
            },
            columns: [

                { data: "EquipmentType" },
                { data: "Description" },
                {
                    data: "Status",
                    render: function (data, type, row) {
                        if (data == '1') {
                            return `<button class="btn btn-success btn-sm font-weight-bold">
                            Service
                        </button>`;
                        }
                        if (data == '2') {
                            return `<button class="btn btn-danger btn-sm font-weight-bold">
                            Inservice
                        </button>`;
                        }
                    }
                },
                {
                    data: "Id",
                    render: function (data, type, row) {

                        return ` <button type="button" class="btn btn-warning" id="btnupdate" style="margin-right: 20px" data-toggle="modal" data-target="#updateModal" value="Update"
                                            ><i class="far fa-edit"></i>
                                     </button>
                                     <button type="button" class="btn btn-danger" id="btndetele" style="margin-right: 20px" data-toggle="modal" data-target="#deleteModal" value="Delete"
                                            ><i class="fas fa-trash-alt"></i>
                                     </button>`;

                    }
                },

            ]
        });
    }


    bootstrapValidate(['#txtEquipmentType', '#txtDesEquipmentType', '#txtStatus',], 'required:Please fill out this field!');
    function InsertEquipmentType() {


        $.ajax({
            url: "./InsertEquipmentType",
            data: JSON.stringify({
                EquipmentType: $('#txtEquipmentType').val(),
                Description: $('#txtDesEquipmentType').val(),
                Status: $('#txtStatus').val(),
            }),
            contentType: "application/json; charset=utf-8",
            type: "POST",
            dataType: "JSON",
            success: (data) => {
                if (data.success == true) {
                    swal({
                        title: data.message,
                        icon: "success",
                        buttons: "DONE"
                    });
                }

                else {
                    swal({
                        title: "Warning",
                        text: data.message,
                        icon: "warning",
                        buttons: "DONE",
                        dangerMode: true
                    });
                }
            }
        });

    }


</script>
