<div class="row">
    <div class="col-sm-6 p-1" style="padding-left:unset;padding-right:unset;">
        <div class="card m-2 p-1">
            <h3 class="card-header font-weight-bold"><i class="fas fa-plus fa-lg"></i>&nbsp;Create Approver</h3>
            <div class="card-body font-weight-bold">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 p-3" style="text-align:right;">
                            Section Code
                        </div>
                        <div class="col-md-8 p-3">
                            <input class="form-control form-control" id="txtSectionCode">
                        </div>
                        <div class="col-md-4 p-3" style="text-align:right;">
                            Employee No
                        </div>
                        <div class="col-md-8 p-3">
                            <input class="form-control form-control" id="txtEmployeeNo">
                        </div>
                        <div class="col-md-4 p-3"></div>
                        <div class="col-md-8 p-3">
                            <button id="btnClear" type="button" class="btn btn-warning btn-sm font-weight-bold">Clear</button>
                            <button id="btnSubmit" type="button" class="btn btn-success btn-sm font-weight-bold">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnClear').on('click', (e) => {
        e.stopImmediatePropagation();
        $('#txtSectionCode,#txtEmployeeNo').val('');
    });

    $('#btnSubmit').on('click', (e) => {
        e.stopImmediatePropagation();
        $.ajax({
            url: './SetApprover',
            data: JSON.stringify({
                SectionCode: $('#txtSectionCode').val(),
                EmployeeNo: $('#txtEmployeeNo').val()
            }),
            contentType: 'application/json; charset=utf-8',
            type: 'POST',   
            dataType: 'JSON',
            success: (data) => {
                if (data.success === true) {
                    swal({
                        title: data.message,
                        icon: "success",
                        buttons: "DONE"
                    }).then((willDone) => {
                        $('#txtSectionCode,#txtEmployeeNo').val('');
                    });
                } else {
                    swal({
                        title: "Warning",
                        text: data.message,
                        icon: "warning",
                        buttons: "DONE",
                        dangerMode: true
                    });
                }
            }
        });
    });
</script>