﻿
<div class="row">
    <div class="col-sm-12" style="padding-left:unset;padding-right:unset;">
        <table id="dtHardwareAsset" class="table-bordered" style="width:100% ; font-size: 10px ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Equipment</th>
                    <th>EquipmentType</th>
                    <th>Description</th>
                    <th>SerialNumber</th>
                    <th>Model</th>
                    <th>Owner</th>
                    <th>Location</th>
                    <th>TelephoneOwner</th>
                    <th>Responsible</th>
                    <th>Status</th>
                    <th>PreviousOwner</th>
                    <th>PreviousLocation</th>
                    <th>ServiceVendor</th>
                    <th>Company</th>
                    <th>EquipmentGroup</th>
                    <th>PurchaseDate</th>
                    <th>ReceiveDate</th>
                    <th>ServiceDate</th>
                    <th>WarrantyType</th>
                    <th>WarrantyNum</th>
                    <th>SafetyNote</th>
                    <th>SupportBy</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>0EPR00000</td>
                    <td>0EPR</td>
                    <td>Printer</td>
                    <td>MM000000</td>
                    <td>PP000000</td>
                    <td>019701</td>
                    <td>L1</td>
                    <td>0897456321</td>
                    <td>019709</td>
                    <td>1</td>
                    <td>000126</td>
                    <td>L2</td>
                    <td>Vendor</td>
                    <td>MIL</td>
                    <td>Purchase</td>
                    <td>2/2/2019</td>
                    <td>3/2/2019</td>
                    <td>4/2/2019</td>
                    <td>Year</td>
                    <td>1</td>
                    <td>Model......</td>
                    <td>019709</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>0EPR00001</td>
                    <td>0EPR</td>
                    <td>Printer</td>
                    <td>MM000000</td>
                    <td>PP000000</td>
                    <td>019701</td>
                    <td>L1</td>
                    <td>0897456321</td>
                    <td>019709</td>
                    <td>1</td>
                    <td>000126</td>
                    <td>L2</td>
                    <td>Vendor</td>
                    <td>MTL</td>
                    <td>Lease</td>
                    <td>2/2/2019</td>
                    <td>3/2/2019</td>
                    <td>4/2/2019</td>
                    <td>Year</td>
                    <td>2</td>
                    <td>Model......</td>
                    <td>019709</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
